html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Responsive ISE
    body
        .wrapper
            header Header
            main
                .questions Questions
                .toolbar
                    .progress-col Progress
                    .buttons
                        input(type="button" value="Next")
                .progress-row Progress
            footer Footer

        script(type="text/javascript", src="bundle.js")
